/* ResetPassword.css */
.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #ff9933, #ffffff, #138808); /* Indian flag colors */
    padding: 20px;
}

.reset-password-form {
    background: #ffffff; /* White background for the form */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 2px solid #000080; /* Dark blue border */
}

.reset-password-form h1 {
    font-size: 2.5rem;
    color: #000080; /* Dark blue color for the heading */
    margin-bottom: 20px;
}

.reset-password-form input {
    width: calc(100% - 20px); /* Full width with padding */
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.reset-password-form button {
    width: calc(100% - 20px); /* Full width with padding */
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-password-form button[type="submit"] {
    background-color: #ff9933; /* Saffron color for the submit button */
}

.reset-password-form button[type="submit"]:hover {
    background-color: #e68a00; /* Darker saffron for hover effect */
}
